* {
    padding: 0;
    margin: 0;
}

/* header {
    background-color: #99b3ff;
    height: 80px;
    width: 100%;
    position:relative ;
    style="background-color: #e3f2fd;
}   */
/* header a{
    text-decoration:none;
    color: white; 
} */

/* header a:hover{
    text-decoration: underline;
} */
/* header li{
    display: inline;
    margin-right:4vw ;
} */
/* header ul{
     position: absolute; 
    right: 10vw;
    line-height: 20px;
} */

/* .nav.item{
    right: 0;
    top:0;
} */

/* .navbar-collapse {
    border: 2px solid black;
  } */

/* 導覽頁 */
.d-header_left img{
    width: 140px;
    position: absolute; 
    top: 0px;
    left: 20px;
}
/* 設置背景圖 */
.l-header {
    position: relative; /* 建立相對定位，讓子元素可以用絕對定位 */
    width: 100%;
    height: 100vh; /* 背景圖高度填滿整個視窗 */
    background-image: url('../img/水肺/水肺50.JPG'); /* 背景圖路徑 */
    background-size: cover; /* 背景縮放，保持比例 */
    background-position: center; /* 背景居中顯示 */
  }
  
  /* 導覽列樣式 */
  .l-header-nav {
    position: absolute; /* 絕對定位在背景圖的基礎上 */
    top: 50px; 
    left: 50%; /*水平居中 */
    transform: translateX(-50%); /* 修正水平居中的偏移 */
    display: flex; /* 使用 Flexbox 排列導覽項目 */
    gap: 20px; 
    background: rgba(255, 255, 255, 0.8); 
    padding: 10px 20px; 
    border-radius: 50px; 
    z-index: 2; /* 確保導覽列顯示在背景上方 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加陰影效果 */
  }
  
  /* 導覽列的連結樣式 */
  .l-header-nav a {
    text-decoration: none; /* 移除下劃線 */
    color: #3f2d2d; /* 字體顏色 */
    font-weight: 200; 
    font-size: 18px;
    font-family: "Rubik Bubbles", system-ui;
    font-style: normal;
    padding: 5px;
  }

  /* 當螢幕寬度小於 768px 時的樣式 */
    @media (max-width: 768px) {
    /* 調整導航條容器，使其垂直排列 */
    .l-header-nav {
        display: flex;
        flex-direction: row; /* 垂直排列 */
        align-items: center;
        gap: 5px;
        max-width:auto;
        justify-content: space-between;
        padding: 10px;
        margin-left:90px ;
    }
    .l-nav_link{
        display: inline-block;  /* 保持水平排列 */
        padding: 3px; 
        font-size: 5px;  
        white-space: nowrap;  /* 避免文字換行 */
    }
    
}
  
  /* .logo img {
    width: 100px; 根據需要設置圖片大小
    height: auto;
  } */
  
  /* bootstrap舊導覽頁 */
/* .l-header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.navbar-nav .nav-item {
    margin: 15px;
    padding: 0;
}

section {
    margin: 20px 0;
}

.no-border {
    border: none;
} */

.card-header {
    font-size: 20px;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;

}

/* 最新消息 */
/* #latest_news1 {
    border: 4px solid #0089E1;
    box-shadow: 7px 6px 0px #e0e3e7;
    border-radius: 10px;
    overflow: hidden;
}

#latest_news1:hover {
    box-shadow: 7px 6px 0px #9fbfdf;

}

#latest_news1 p {
    font-weight: bold;
    color: #9fbfdf;
    font-size: 15px;
    margin-bottom: 10px;
} */


/* 字型 */
@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');

#title_news,
#title_diveserver,
h4 {
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif ;
  font-weight: 600;
  font-size: 25px;
  font-style: normal;

/* 襯線體 */
    /* font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal; */
}
#title_news >p{
  /* 英文泡泡字體 */
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 15px;
}
/* #title_news{
  background-color: #e8f5fe;
} */

@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+Rounded+1c&display=swap');

#apple {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* @font-face {
    font-family: "M PLUS Rounded 1c", sans-serif;
    src: url('../M_PLUS_Rounded_1c/MPLUSRounded1c-Black.ttf');
} */


#snork {
    background-image: url(../img/背景圖/藍1.png);
    background-size: cover;
    background-position: center;
    /* border: 2px solid red; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* width:250px ; */

}

#snork img,
#no_lic_scuba img,
#scuba img,
#free_dive_img img {
    max-height: 100%;
    height: auto;
    /* 確保圖片高度自適應 */
    display: block;
    /*避免與行內文字基線對齊的空間 */
    margin: 0;
    padding: 20px;
    opacity: 0.8;
    /* width: 100%; */
}

#no_lic_scuba {
    background-image: url('../img/背景圖/藍2.png');
    background-size: cover;
    background-position: center;
    /* border: 2px solid red; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* width:250px ; */
}

#text_snork {
    font-size: 14px;
}

#scuba {
    background-image: url('../img/背景圖/藍3.png');
    background-size: cover;
    background-position: center;
    /* border: 2px solid red; */
    padding-top: 20px;
    /* width:250px ; */
}

#free_dive {
    background-image: url('../img/背景圖/藍4.png');
    background-size: cover;
    background-position: center;
    /* border: 2px solid red; */
    padding-top: 20px;
    /* width:250px ; */
}



/* 圖片動畫 */
#snork img,
#no_lic_scuba img,
#scuba img,
#free_dive img {
    transition: all 0.3s ease;
    /* 平滑過渡效果  */
}

#snork img:hover,
#no_lic_scuba img:hover,
#scuba img:hover,
#free_dive img:hover {
    transform: scale(1.1);
    opacity: 1;
}


/* 有關rwd  */
/* @media (max-width: 576px) { 小於等於 576px (sm 螢幕) 
    #snork img {
        display: none;  隱藏圖片 
    }
} */


/* 探索蔚藍綠島，潛入夢幻海底世界 */

/* 藍色波浪背景樣式 */
.bluewave-background {
  /* position: relative; */
  background-image:url(../img/背景圖/bluewave.jpg);
  background-repeat: no-repeat; /* 避免重複 */
  background-size: cover; /* 讓背景圖片充滿整個區塊 */
  background-position: top; /* 調整圖片位置 */
  padding: 50px 0; /* 增加上下內邊距，確保內容不被背景擠壓 */
  /*color: white;  設置內容字體顏色 */
  background-attachment: fixed;
  /* height: 500px; */
}

/* 藍色波浪背景在滑動的時候，背景可以跟著動，產生波浪背景蓋掉上面網頁的效果 */
/* .box-news,
.grid-container{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
} */


/* 網格容器設定 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    /* background-color: #e8f5fe; */
}

/* 卡片樣式 */
.card {
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    width: 300px;
    padding: 30px;
    position: relative;
    border: 7px solid #0089E1;

}

/* 圖片部分 */
.card-image {
    position: relative; /* 確保雲朵的絕對定位基於這裡 */
    width: 100%;
  }
.card-image img {
    width: 100%;
    height: 200px;
    border-radius: 40px;
    object-fit: cover;
    border: 7px solid #0089E1;


}

/* 卡片內的文字內容 */
.card-content {
    margin-top: 10px;
    z-index: 2;
}
    /* 泡泡字型 */
.rubik-bubbles-regular {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
  }  
.card-content h2 {
    font-family: "Rubik Bubbles", system-ui;
    font-size: 30px;
    color: #0089E1;
    margin: 0;
    /* padding: 10px; */
    font-weight: bold;
  /* font-weight: 400; */
    font-style: normal;

}

.card-content p {
    font-family: "Rubik Bubbles", system-ui;
    font-size: 26px;
    color: #0089E1;
    margin: 5px 0 0;
}

/* 雲朵部分 */
.cloud{
position: absolute;
bottom: 75px; /* 雲朵的底部對齊 */
left: 0; /* 雲朵的右側對齊 */
width: 170px; /* 雲朵的寬度 */
height: 100px; /* 雲朵的高度 */
background: url('../img/背景圖/cloud.png') no-repeat center/contain; /* 雲朵圖片設置 */
z-index: 1; /* 保持在圖片之上 */
}
/* 響應式設計 */
@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* 中等螢幕顯示兩張卡片 */
    }
}

@media (max-width: 576px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* 小螢幕顯示一張卡片 */
    }
}



/* 自動輪播 */
/* .carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
}

.carousel-card {
  min-width: 200px;
  padding: 20px;
  background: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
} */



/* 潛水教練 */
/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/

/******* Common Element CSS Start ******/
* {
  margin: 0px;
  padding: 0px;
}
/* body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
} */
.clear {
  clear: both;
}
img {
  max-width: 100%;
  border: 0px;
}
/* ul,
ol {
  list-style: none;
} */
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #e73700;
}
/* h2 {
  font-family: "Rubik Bubbles", system-ui;
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
} */
h3 {
  font-family: "Rubik Bubbles", system-ui;
  margin: 0 0 10px;
  font-size: 100px;
  line-height: 36px;
}
.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

.item-desc p{
  font-family: "Zen Maru Gothic", serif ;
  font-weight: 400;
  font-style: normal;

}
button {
  outline: none !important;
}
/******* Common Element CSS End *********/

/* -------- title style ------- */
/* .line-title {
  position: relative;
  width: 400px;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
} */

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
  padding: 60px 50px;
}
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
}
.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

/* 確保超出部分不會顯示 */
.game-section .owl-carousel {
  max-width: 100%;
  overflow: hidden; 
}

.game-section .item.active {
  width: 400px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel  {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

/* 按鈕 */
.owl-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -50px;  
  /* 調整按鈕位置  */
}
.owl-nav button {
  background: #343434;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
}




/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .game-section .item.active {
    width: 400px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}