* {
  padding: 0;
  margin: 0;
}

/* header {
    background-color: #99b3ff;
    height: 80px;
    width: 100%;
    position:relative ;
    style="background-color: #e3f2fd;
}   */
/* header a{
    text-decoration:none;
    color: white; 
} */

/* header a:hover{
    text-decoration: underline;
} */
/* header li{
    display: inline;
    margin-right:4vw ;
} */
/* header ul{
     position: absolute; 
    right: 10vw;
    line-height: 20px;
} */

/* .nav.item{
    right: 0;
    top:0;
} */

/* .navbar-collapse {
    border: 2px solid black;
  } */

/* 導覽頁 */
.d-header_left img {
  width: 140px;
  position: absolute;
  top: 0px;
  left: 20px;
}

/* 設置背景圖 */
.l-header {
  position: relative;
  /* 建立相對定位，讓子元素可以用絕對定位 */
  width: 100%;
  height: 100vh;
  /* 背景圖高度填滿整個視窗 */
  background-image: url('../img/水肺/水肺50.JPG');
  /* 背景圖路徑 */
  background-size: cover;
  /* 背景縮放，保持比例 */
  background-position: center;
  /* 背景居中顯示 */
}

/* 導覽列樣式 */
.l-header-nav {
  position: absolute;
  /* 絕對定位在背景圖的基礎上 */
  top: 50px;
  left: 50%;
  /*水平居中 */
  transform: translateX(-50%);
  /* 修正水平居中的偏移 */
  display: flex;
  /* 使用 Flexbox 排列導覽項目 */
  gap: 20px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 50px;
  z-index: 2;
  /* 確保導覽列顯示在背景上方 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* 添加陰影效果 */
}

/* 導覽列的連結樣式 */
.l-header-nav a {
  text-decoration: none;
  /* 移除下劃線 */
  color: #3f2d2d;
  /* 字體顏色 */
  font-weight: 200;
  font-size: 18px;
  font-family: "Rubik Bubbles", system-ui;
  font-style: normal;
  padding: 5px;
}

/* 當螢幕寬度小於 768px 時的樣式 */
@media (max-width: 992px) {

  /* 調整導航條容器，使其垂直排列 */
  .l-header-nav {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap; /* 允許換行 */
    /* right: -10px; */
    /* 垂直排列 */
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    max-width: auto;
    padding: 10px;
    margin-left: 150px;
  }

  .l-nav_link {
    display: inline-block;
    /* 保持水平排列 */
    padding: 3px;
    font-size: 5px;
    white-space: nowrap;/* 避免文字換行 */
    flex: 1 1 calc(50% - 5px); /* 每列分配一半空間，並考慮間距 */
    text-align: center; /* 文字置中 */
    box-sizing: border-box; /* 確保 padding 不影響寬度計算 */
  }

}

/* .logo img {
    width: 100px; 根據需要設置圖片大小
    height: auto;
  } */


.card-header {
  font-size: 20px;
  font-family: "Yuji Mai", serif;
  font-weight: 400;
  font-style: normal;

}

/* 最新消息 */
/* #latest_news1 {
    border: 4px solid #0089E1;
    box-shadow: 7px 6px 0px #e0e3e7;
    border-radius: 10px;
    overflow: hidden;
}

#latest_news1:hover {
    box-shadow: 7px 6px 0px #9fbfdf;

}

#latest_news1 p {
    font-weight: bold;
    color: #9fbfdf;
    font-size: 15px;
    margin-bottom: 10px;
} */


/* 字型 */
@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');

#title_news,
#title_diveserver,
#title_transport,
h4 {
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 600;
  font-size: 35px;
  font-style: normal;
  padding-bottom: 5px;

  /* 襯線體 */
  /* font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal; */
}

#title_news+p,
#title_transport+p {
  /* 英文泡泡字體 */
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 15px;
  font-size: 30px;
}

#title_airplane {
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 600;
  font-size: 25px;
  font-style: normal;
  padding-bottom: 5px;
}
#title_airplane+p{
  /* 英文泡泡字體 */
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 15px;
  font-size: 25px;

}

/* #title_news{
  background-color: #e8f5fe;
} */

@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+Rounded+1c&display=swap');

#apple {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
    font-family: "M PLUS Rounded 1c", sans-serif;
    src: url('../M_PLUS_Rounded_1c/MPLUSRounded1c-Black.ttf');
} */


#snork {
  background-image: url(../img/背景圖/藍1.png);
  background-size: cover;
  background-position: center;
  /* border: 2px solid red; */
  padding-top: 20px;
  padding-bottom: 20px;
  /* width:250px ; */

}

#snork img,
#no_lic_scuba img,
#scuba img,
#free_dive_img img {
  max-height: 100%;
  height: auto;
  /* 確保圖片高度自適應 */
  display: block;
  /*避免與行內文字基線對齊的空間 */
  margin: 0;
  padding: 20px;
  opacity: 0.8;
  /* width: 100%; */
}

#no_lic_scuba {
  background-image: url('../img/背景圖/藍2.png');
  background-size: cover;
  background-position: center;
  /* border: 2px solid red; */
  padding-top: 20px;
  padding-bottom: 20px;
  /* width:250px ; */
}

#text_snork {
  font-size: 14px;
}

#scuba {
  background-image: url('../img/背景圖/藍3.png');
  background-size: cover;
  background-position: center;
  /* border: 2px solid red; */
  padding-top: 20px;
  /* width:250px ; */
}

#free_dive {
  background-image: url('../img/背景圖/藍4.png');
  background-size: cover;
  background-position: center;
  /* border: 2px solid red; */
  padding-top: 20px;
  /* width:250px ; */
}



/* 圖片動畫 */
#snork img,
#no_lic_scuba img,
#scuba img,
#free_dive img {
  transition: all 0.3s ease;
  /* 平滑過渡效果  */
}

#snork img:hover,
#no_lic_scuba img:hover,
#scuba img:hover,
#free_dive img:hover {
  transform: scale(1.1);
  opacity: 1;
}


/* 有關rwd  */
/* @media (max-width: 576px) { 小於等於 576px (sm 螢幕) 
    #snork img {
        display: none;  隱藏圖片 
    }
} */


/* 探索蔚藍綠島，潛入夢幻海底世界 */

/* 藍色波浪背景樣式 */
.bluewave-background {
  /* position: relative; */
  background-image: url(../img/背景圖/bluewave.jpg);
  background-repeat: no-repeat;
  /* 避免重複 */
  background-size: cover;
  /* 讓背景圖片充滿整個區塊 */
  background-position: top;
  /* 調整圖片位置 */
  padding: 50px 0;
  /* 增加上下內邊距，確保內容不被背景擠壓 */
  /*color: white;  設置內容字體顏色 */
  background-attachment: fixed;
  /* height: 500px; */
}

/* 藍色波浪背景在滑動的時候，背景可以跟著動，產生波浪背景蓋掉上面網頁的效果 */
/* .box-news,
.grid-container{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
} */


/* demo主頁 最新消息 */
/* 網格容器設定 */
.marquee-wrapper {
  position: relative;
  width: 100%;
  /* 容器寬度 */
  overflow: hidden;
  /* 隱藏溢出的內容 */
}

.marquee {
  display: flex;
  /* 圖片橫向排列 */
  will-change: transform;
  /* 優化動畫性能 */
  animation: marquee-scroll 5000s linear infinite;
  /* animation-duration:5000s; */
  /* animation-play-state: running;  */
  /* 預設動畫啟動 */
}

.marquee-item {
  flex-shrink: 0;
  /* 圖片不縮小 */
  width: 500px;
  height: auto;
  width: calc(100% / 4);
  /* 單張圖片寬度 */
  margin: 0 30px;
}

.marquee img {
  width: 100%;
  /* 圖片填滿 */
  height: auto;
}

/* 當滑鼠停留在 .marquee 上時，暫停動畫 */
.marquee:hover {
  animation-play-state: paused;
  /* 暫停動畫 */
}

/* 響應式設計 */
@media (max-width: 992px) {
  .marquee-item {
    width: calc(100% / 2);
    /* 中等螢幕顯示兩張卡片 */
  }
}

@media (max-width: 576px) {
  .marquee-item {
    width: 50%;
    /* 確保小螢幕仍顯示兩張卡片 */
  }
}

.grid-container {
  /* display: grid; */
  display: flex;
  overflow: hidden;
  position: relative;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 5px;
  /* justify-items: center; */
  /* text-align: center; */
  padding: 5px;
  /* background-color: #e8f5fe; */
}

/* 卡片樣式 */
.card {
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  width: 300px;
  padding: 30px;
  position: relative;
  border: 7px solid #0089E1;
  /* margin: 0 10px; */
}


/* 圖片部分 */
.card-image {
  position: relative;
  /* 確保雲朵的絕對定位基於這裡 */
  width: 100%;
}

.card-image img {
  width: 100%;
  height: 200px;
  border-radius: 40px;
  object-fit: cover;
  border: 7px solid #0089E1;


}

/* 卡片內的文字內容 */
.card-content {
  margin-top: 10px;
  z-index: 2;
}

/* 泡泡字型 */
.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.card-content h2 {
  font-family: "Rubik Bubbles", system-ui;
  font-size: 30px;
  color: #0089E1;
  margin: 0;
  /* padding: 10px; */
  font-weight: bold;
  /* font-weight: 400; */
  font-style: normal;

}

.card-content p {
  font-family: "Rubik Bubbles", system-ui;
  font-size: 26px;
  color: #0089E1;
  margin: 5px 0 0;
}

/* 雲朵部分 */
.cloud {
  position: absolute;
  bottom: 75px;
  left: 0;
  width: 170px;
  height: 100px;
  background: url('../img/背景圖/cloud.png') no-repeat center/contain;
  z-index: 1;
  /* 保持在圖片之上 */
}

.cloud img {
  /* border: 2px solid red; */
  width: 50px;
  padding-top: 20px;
  padding-right: 5px;
  animation-name: ld-move-rtl;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  /* 動畫無限循環 */

}

.ld {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

@keyframes ld-move-rtl {
  0% {
    transform: translate(0%, 0%);
  }

  40% {
    transform: translate(-80%, 0%);
  }

  49.99999% {
    transform: translate(-99.99998%, 0%);
  }

  50% {
    transform: translate(100%, 0%);
  }

  50.00001% {
    transform: translate(99.99998%, 0%);
  }

  60% {
    transform: translate(80%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

/* .ld.ld-move-rtl {
  animation: ld-move-rtl 10s infinite linear; 
} */
/* 響應式設計 */
@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    /* 中等螢幕顯示兩張卡片 */
  }
}

@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
    /* 小螢幕顯示一張卡片 */
  }
}


/* about 潛水教練 */
/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/

/******* Common Element CSS Start ******/
.container-about {
  display: grid;
  max-width: 800px;
  grid-column: 2;
  /* 把內容放在中間那一格 */
  margin: 0 auto;
  /* 水平居中 */
  padding: 50px;
}

.container-about #title_about {
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: bold;
  font-size: 35px;
  font-style: normal;
  margin-bottom: 10px;
  /* align-items: center;
  justify-content: center;  */
  text-align: center;
  /* color: #1F4BA4; */
}

.container-about span {
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  margin-bottom: 10px;

}

.container-about h4 {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 15px;
  font-size: 30px;
  text-align: center;
  /* color: #1F4BA4; */
}

* {
  margin: 0px;
  padding: 0px;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  border: 0px;
}

/* ul,
ol {
  list-style: none;
} */
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #e73700;
}

/* h2 {
  font-family: "Rubik Bubbles", system-ui;
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
} */
h3 {
  font-family: "Rubik Bubbles", system-ui;
  margin: 0 0 10px;
  font-size: 100px;
  line-height: 36px;
}

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

.item-desc p {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;

}

button {
  outline: none !important;
}

/******* Common Element CSS End *********/

/* -------- title style ------- */
/* .line-title {
  position: relative;
  width: 400px;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
} */

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
  padding: 60px 50px;
}

.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
}

.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

/* 確保超出部分不會顯示 */
.game-section .owl-carousel {
  max-width: 100%;
  overflow: hidden;
}

.game-section .item.active {
  width: 400px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}

.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.game-section .owl-theme.custom-carousel {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

/* 按鈕 */
.owl-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -50px;
  /* 調整按鈕位置  */
}

.owl-nav button {
  background: #343434;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
}




/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }

  .game-section .item.active {
    width: 400px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }

  .game-section .item.active {
    width: 360px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }

  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }

  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }

  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}


/* 潛水服務 交錯排列 */


#title_diveserver+p {
  /* 英文泡泡字體 */
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 15px;
  font-size: 30px;
}

.content .text h3 {
  /* border: 2px solid red; */
  text-align: left;
  margin-left: 0px;
  font-size: 25px;

}

.content .image img {
  border-radius: 15px;
}

.container {
  display: grid;
  max-width: 1000px;
  grid-column: 2;
  /* 把內容放在中間那一格 */
  margin: 0 auto;
  /* 水平居中 */
  padding: 50px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;

  opacity: 0;
  /* 預設為隱藏 */
  transform: translateY(50px);
  /* 加入位移效果 */
  transition: all 0.6s ease;
}

.content .text {
  width: 40%;
  padding: 0 20px;
}

.content .image {
  width: 60%;
}

.content .text h2 {
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 600;
  font-size: 25px;
  font-style: normal;
  margin-bottom: 10px;
}

.content .text p {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 580;
  font-size: 15px;
  font-style: normal;
  margin-bottom: 10px;

}

.content .image img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 偶數行圖片在左側 */
/* .content:nth-child(1) {
  flex-direction: row-reverse;
} */

.content:nth-child(even) {
  flex-direction: row-reverse;
}

/* 當內容進入可視範圍時，顯示動畫 */
.content.show {
  opacity: 1;
  transform: translateY(0);
}



/* footer */
/* Reset */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
} */

/* Footer Styling */
footer {
  /* background-color: #6767ec;  */
  /* position: relative; */
  color: #000000;
  padding: 2rem;
  background-image: url(../img/背景圖/footer3.jpg);
  position: relative;
  background-repeat: no-repeat;
  /* border: 2px solid red; */

}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 0 1rem;
}

.footer-section h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  /* 英文泡泡字體 */
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 15px;
  font-size: 23px;

}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 0.5rem;

}

.footer-section ul li a {
  color: black;
  text-decoration: none;
  /* 英文泡泡字體 */
  font-family: "Rubik Bubbles", system-ui;
  /* font-weight: 400; */
  font-style: normal;
  /* margin: 15px; */
  font-size: 18px;
}

.footer-section ul li a:hover {
  color: #e73700;
}

.footer-section form input {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}

.footer-section form button {
  background-color: #FFAAB4;
  border: none;
  padding: 0.7rem;
  color: #192687;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.footer-section p {
  margin-bottom: 0.5rem;
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: bold;
  font-size: 16px;

  font-style: normal;
  padding-bottom: 5px;

}

.footer-section a.message-link {
  color: #1F4BA4;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

.footer-bottom a {
  margin-left: 1rem;
  color: #1F4BA4;
  text-decoration: none;
}

/* top回到最上面 */
.top {
  /* border: 2px solid red; */
  background-image: url(../img/背景圖/魚2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 15%;
  height: 20%;
  /* position: fixed; */
  /* bottom: 0; */
  position: absolute;
  /* 絕對定位 */
  top: 0;
  right: 0;
  /* bottom: 350px; */
  top: -100px;
  /* margin-left: 0; */
}

.top-text {
  display: none;
}

.top:hover {
  transform: scale(1.1) translateY(-5px);
}

/* .top:hover .top-text{
  display: block; 
  border: 2px solid red;
  margin: 30px;

} */


/* open water 網頁 */
/* 整體佈局 */
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; 
}  */

.product-container {
  display: flex;
  gap: 20px;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

/* 左側輪播圖 */
.carousel {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.main-image img {
  position: relative;
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: none;
  border-radius: 10px;
}

.main-image img.active {
  display: block;
}

.main-image img {
  width: 100%;
  /* display: none; */
  display: block;
  border-radius: 10px;
}

.main-image img.active {
  display: block;
}


/* 小圖預覽 */
.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  overflow-x: auto;
  /* 若有太多圖片，可左右滾動 */
}

.thumbnails img {
  width: 80px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease, border 0.3s ease;
}

.thumbnails img.active {
  opacity: 1;
  border: 2px solid #4CAF50;
}

/* 右側商品資訊 */
.product-info {
  width: 50%;

}

.product-info h2 {
  color: #c56969;
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  margin-bottom: 13px;
  /* text-align: left; */
}

.product-info h3 {
  font-size: 23px;
  color: #c56969;
  margin-bottom: 13px;
  /* 英文泡泡 */
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;

}

.product-info p {
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 13px;
}

table {
  width: 100%;
  margin-top: 10px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 13px;
}


.signup-button {
  background-color: #c56969;
  font-family: "Zen Maru Gothic", serif;
  font-weight: bold;
  font-style: normal;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

.signup-button:hover {
  background-color: #45a049;
}

.button-container ul {
  padding-left: 20px;
  /* 預設縮排 */
  list-style-position: outside;
  /* 預設符號在外側 */
}

/* 響應式設計 */
@media (max-width: 768px) {
  .product-container {
    /* display: flex;   */
    flex-direction: column;
    /* 小螢幕時垂直排列 */
    align-items: center;
    text-align: center;
  }

  .carousel {
    width: 70%;
  }

  .main-image img {
    width: 100%;
    height: auto;
    /* 保持比例 */
  }

  .product-info {
    margin-top: 20px;
    max-width: 100%;
    width: 90%;
    text-align: center;
    align-items: center;

  }

  .button-container {
    width: 90%;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .button-container ul {
    padding-left: 0;
    /* 移除左側縮排 */
    list-style-position: inside;
    /* 符號放在內側，緊貼文字 */
  }

  .button-container li {
    margin-left: 0;
    /* 移除左側間距 */
  }
}


/* open water注意事項 */
/* 整體設計 */
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
} */

.button-container {
  display: block;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.button-container ul,
li,
.button-container p {
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 1px;

}

/* 自訂按鈕樣式 */
.custom-button {
  display: inline-flex;
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  align-items: center;
  border: 3px solid #c56969;
  color: #c56969;
  border-radius: 50px;
  padding: 1px 20px;
  margin: 15px -5px;
  /* color: #99d2d2; */
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  white-space: nowrap;
}

.custom-button:hover {
  background-color: #c56969;
  color: white;
}

.custom-button .icon {
  width: 60px;
  /* border: 2px solid red; */
  margin-right: 8px;
  /* padding: 2px; */
  max-width: 100%;
}


/* booking網頁 */

/* 表單容器 */
/* .form-container {
  justify-content: center;
  align-items: center;
  display: flex;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  border: 2px solid red;
  grid-column: 2;
  /* 把內容放在中間那一格 */
/* margin: 0 auto; */
/* 水平居中
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
} */

.container {
  max-width: 800px;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px 15px rgba(24, 2, 2, 0.1);
  /* border: 2px solid red; */
}

h1 {
  text-align: center;
  margin-bottom: 0.5rem;
  /* color: #333; */
  color: #c56969;
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  margin-bottom: 40px;

}



form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* 定義兩欄 */
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 600;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 10px;
  color: #333;

}

input,
select,
textarea {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* font-size: 1rem; */
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  margin-bottom: 10px;
}

input[ type="tel"]:valid {
  border: 2px solid green;
}

/* input[ type="tel"]:invalid {
  border: 2px solid red;
} */


textarea {
  resize: none;
}

.description {
  grid-column: 1 / -1;
  /* 讓這個元素橫跨所有列  */
}

.packages {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.package {
  flex: 1;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  margin-right: 1rem;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;

}

.package:last-child {
  margin-right: 0;
}

button {
  margin: 15px auto;
  /* 水平置中 */
  display: inline-block;
  width: 200px;
  text-align: center;
  /* grid-column: 1 / -1;  */
  padding: 0.8rem;
  background-color: #c56969;
  color: white;
  border: none;
  border-radius: 5px;
  /* font-size: 1rem; */
  cursor: pointer;
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  /* margin-bottom: 10px; */

}

button:hover {
  background-color: #45a049;
}

/* background-color: .packages {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
} */

.package.selected {
  transform: scale(1.05) translateY(-5px);
  /* 卡片浮起且放大 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  background-color: #007BFF;
  /* 浮起時背景變色 */
  color: white;
}

.package.selected span {
  color: #e0e0e0;
}

/* .package:active {
  transform: scale(1.05) translateY(-5px); /* 點擊後稍微浮起放大 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
} */


/* Responsive Design */
@media (max-width: 600px) {
  form {
    grid-template-columns: 1fr;
  }

  .packages {
    flex-direction: column;
  }

  .package {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}


/* price網頁 */
/* 通用樣式 */

.container-price {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  /* 水平置中 */
  align-items: center;
  flex-wrap: wrap;
  /* 響應式設計時可換行 */
  max-width: 900px;
  margin: 0 auto;
  /* margin: 40px; */
  /* border: 2px solid red; */
}

.price-list h2 {
  color: #5ca4a9;
  text-align: center;
  margin: 20px 0;
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 600;
  font-size: 28px;
  font-style: normal;

}

/* 圓形圖片 */
.image-container {
  /* background-image: url(../img/水肺/水肺20.JPG);
  background-repeat:no-repeat;
  background-size: cover; 
  background-position: center;  */
  flex: 1;
  text-align: center;
  /* padding: 10px; */
  margin: 30px 20px 20px auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  max-width: 100%;
  /* border-radius: 50%; */
  /* border: 4px solid #eee; */

  /* margin: 20px 0px 20px 80px; */
}

.circular-image {
  /* background-image: url(../img/水肺/水肺20.JPG); */
  flex: 1;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  /* border: 4px solid #eee; */
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.1);
}

/* 價目表 */
.price-list .priceitem {
  color: #c56969;
  font-weight: bold;
  /* font-weight: 50px; */
}

.bi-star-fill {
  color: #c56969;
}

.price-list {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: center;
  align-items: center;
  margin: 50px 20px;

}

.price-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.price-list li {
  display: flex;
  justify-content: space-between;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  font-size: 20px;
}

.price-list li:hover {
  background-color: rgb(245, 243, 243);
}

/* .price-list li>span::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  } */

.price-list li:last-child {
  border-bottom: none;
}

.price-list .price {
  color: #2b2b2b;
  font-weight: bold;
}

/* .price-list .special {
  color: #e74c3c; 
} */

.note {
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #777;
  margin-top: 15px;
  line-height: 1.5;
  text-align: center;
}

/* 響應式設計 */
@media (max-width: 992px) {
  .container-price {
    flex-direction: column;
    /* 小螢幕時垂直排列 */
  }

  .image-container img {
    width: 60%;
  }

  .pricing-section {
    width: 100%;
    text-align: center;
  }
}


/* transport 首頁交通 */
.transport-container {
  display: flex;
  gap: 5px;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid red;
}

/* 左側對話圖 */
.conversation {
  width: 50%;
  border: 2px solid red;

}

/* 右側飛機圖 */
.plane {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.plane-img {
  border: 2px solid red;
  width: 40%;
  /* padding-top:50px ; */
  margin-top: 50px;
}


/* 交通step */
.timeline-container-all {
  position: relative;
  display: flex; /* 啟用 Flex 排版 */
  justify-content: space-between; /* 讓兩個子容器均分空間 */
  max-width: 800px;
  /* margin-left: 10px; */
  padding: 10px;
  /* border-left: 10px solid #c56969; */
  /* 主時間軸 */
  gap: 5px;
  padding: 30px;
  margin: 0 auto;
}
.timeline-container-plane{
  width: 50%;
  /* border: 2px solid red; */

}
.timeline-container-boat{
  width: 50%;
}
.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: 30px;
  /* 主時間軸的水平位置 */
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #c56969;
  /* 時間軸顏色 */
  z-index: -1;
  /* 放在內容後面 */
}

.timeline-item:hover {
  background-color: #f1f1f1;
}

.timeline-icon {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 2px solid #d3d3d3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-icon img {
  width: 40px;
  height: 40px;
}

.timeline-content {
  background-color: #fff;
  padding: 15px 20px;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.1);
  /* border-left: 4px solid #007BFF; */
  width: 100%;
  position: relative;
  /* 中文字體 */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  margin-bottom: 10px;

}

.timeline-content h2 {
  margin: 0;
  font-size: 18px;
  color: #007BFF;
}

.timeline-content p {
  margin: 5px 0;
  color: #555;
  line-height: 1.5;
}

/* 隱藏詳細資訊 */
.details {
  display: none;
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}

/* 顯示詳細資訊時 */
.timeline-item.active .details {
  display: block;
}